* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   background-color: #edebe4;
   font-family: "Roboto", sans-serif;
   font-style: normal;
   font-weight: 100;
}

.app {
   background-color: #f6f5f1;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
   margin: 40px auto;
   max-height: 666px;
   max-width: 888px;
   padding: 30px;
}

.search-form {
   text-align: center;
}

.search-input {
   background-color: #edebe4;
   border: none;
   border-radius: 0%;
   padding: 10px 20px;
   width: 80%;
}

.search-button {
   background-color: #d8d5c9;
   border: none;
   border-radius: 0%;
   margin-left: 5px;
   padding: 10px 20px;
   width: 15%;
}

h1 {
   color: #95a2b2;
   margin-top: -77px;
}


.city-description {
   padding-top: 60px;
   text-align: center;
}

.description {
   color: #c6ccd3;
}

.city-description h1 {
   font-weight: 100;
   margin-bottom: 5px;
   padding: 25px;
   text-transform: uppercase;
}


img {
   margin-bottom: -80px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   size: 33px;
}

.degrees {
   font-size: 88px;

}

.weather-data {
   display: flex;
   justify-content: space-between;
   padding: 77px 3px;
}

.wind-humidity {
   font-weight: bolder;
}

p {
   color: #95a2b2
}


.weekday {
   font-size: 22px;
   text-transform: uppercase;
}

.time {
   color: #c7ccd2;
   font-size: 22px;
   padding-bottom: 15px;
   margin-top: -33px;
   text-align: center;

}

.weather-forecast {
   margin-top: 20px;
   text-align: center;
}

.weather-forecast-date {
   font-size: 14px;
   opacity: 0.5;
}

.weather-forecast-temperature {
   font-size: 14px;
}

.weather-forecast-temperature-max {
   color: #96A2B2;
}

.weather-forecast-temperature-min {
   opacity: 0.5;
}

footer {
   color: #66635a;
   text-align: center;
   font-size: 11px;
}

.footer-text {
   padding: 55px;
}