* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: #edebe4;
   font-family: "Roboto", sans-serif;
   font-weight: 100;
   font-style: normal;
}

.app {
   background-color: #f6f5f1;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
   margin: 40px auto;
   max-height: 666px;
   max-width: 888px;
   padding: 30px;
}

.search-form {
   text-align: center;
}

.search-input {
   background-color: #edebe4;
   border: none;
   border-radius: 0%;
   padding: 10px 20px;
   width: 80%;
}

.search-button {
   background-color: #d8d5c9;
   border: none;
   border-radius: 0%;
   margin-left: 5px;
   padding: 10px 20px;
   width: 15%;
}

h1 {
   color: #95a2b2;
}


.city-description {
   padding-top: 60px;
   text-align: center;
}

.description {
   color: #494e55;
}

.city-description h1 {
   font-weight: 100;
   margin-bottom: 5px;
   padding: 25px;
   text-transform: uppercase;
}


.icon {
   text-align: center;
   font-size: 77px;
}

.degrees {
   font-size: 88px;

}

.weather-data {
   display: flex;
   justify-content: space-between;
   padding: 77px 3px;
}

.wind,
.humidity {
   font-weight: bolder;
}

p {
   color: #95a2b2
}

footer {
   color: #5e5b54;
   text-align: center;
   font-size: 11px;
}

.weekday {
   font-size: 22px;
   text-transform: uppercase;
}

.time {
   font-size: 18px;
   padding-bottom: 15px;
}

.footer-text {
   padding-bottom: 75px;
}